*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
}
.navbar{
    width: 100%;
    height: 10vh;
    background: #270ca1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer{
    width: 100%;
    height: 10vh;
    background: #270ca1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center
}

.book-list{
    min-height: 80vh;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;


}

.favorites{
    min-height: 80vh;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;


}

.book{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    width: 250px;
    height: 300px;
    transition: all 0.3s ease;
}

img:hover{
    transform: scale(1.1);
}

button{
    padding: 10px;
    background: rgb(53, 233, 149);
    color: rgb(5, 5, 5);
    width: 250px;
    font-size: 20px;
    border-radius: 7px;
    margin: 20px 0;

}